.button {
    width: 80% !important;
    background-color: #66b8f0 !important;
    border: 1px solid white !important;
}

.joinBox {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgray;
}

.joinLinkButton {
    width: 140px;
    display: inline-block !important;
    font-size: 15px !important;
    margin-top: 0px;
    text-decoration: none !important;
}